{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="checkout-success-container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <div class="text-center mb-4">
                <h2 class="welcome-text">Thanks a million cupcakes!</h2>
                <p>Your order details are right here, and we're sending a sprinkle of joy to <strong>{{ order.email }}</strong> with a confirmation email!</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 order-confirmation-wrapper">
            <div class="row">
                <div class="col">
                    <strong class="custom-font"> Order Details:</strong>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Order Number:</p>
                </div>
                <div class="col-12 col-md-8  text-right">
                    <p class="mb-0">{{ order.order_number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Order Date:</p>
                </div>
                <div class="col-12 col-md-8  text-right">
                    <p class="mb-0">{{ order.date}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <strong class="custom-font">Delivering To:</strong >
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Full Name:</p>
                </div>
                <div class="col-12 col-md-8 t text-right">
                    <p class="mb-0">{{ order.full_name }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Address 1:</p>
                </div>
                <div class="col-12 col-md-8  text-right">
                    <p class="mb-0">{{ order.street_address1 }}</p>
                </div>
            </div>

            {% if order.street_address2 %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Address 2:</p>
                </div>
                <div class="col-12 col-md-8  text-right">
                    <p class="mb-0">{{ order.street_address1 }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Town or City:</p>
                </div>
                <div class="col-12 col-md-8  text-right">
                    <p class="mb-0">{{ order.town_or_city }}</p>
                </div>
            </div>

            {% if order.postcode %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Postcode:</p>
                </div>
                <div class="col-12 col-md-8  text-right">
                    <p class="mb-0">{{ order.postcode }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Country:</p>
                </div>
                <div class="col-12 col-md-8  text-right">
                    <p class="mb-0">{{ order.country }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Phone Number:</p>
                </div>
                <div class="col-12 col-md-8  text-right">
                    <p class="mb-0">{{ order.phone_number }}</p>
                </div>
            
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <strong class="custom-font">Summary:</strong >
                </div>
            </div>
          
            {% for item in order.lineitems.all %}
            <div class="row items-container">
                <div class="col-12 col-md-4">
                    <p class="custom-font">{{ item.product.name }}</p>
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid rounded  hide-on-small">
                </div>
                <div class="col-12 col-md-8 text-right items-container">
                    <p class="custom-font">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                </div>
            </div>
            {% endfor %}

            
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Order Total:</p>
                </div>
                <div class="col-12 col-md-8 text-right">
                    <p class="custom-font">{{ order.order_total }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Delivery:</p>
                </div>
                <div class="col-12 col-md-8 text-right">
                    <p class="custom-font">{{ order.delivery_cost }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="custom-font">Grand Total:</p>
                </div>
                <div class="col-12 col-md-8 text-right">
                    <p class="custom-font">{{ order.grand_total }}</p>
                </div>
            </div>
        </div>
       

</div>
    </div>
</div>
</div>

<div class="row">
<div class="col-12 col-lg-7 text-right">
    {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn  btn-outline-black">
            <span class="icon mr-2">
                <i class="fas fa-angle-left"></i>
            </span>
            <span class="text-uppercase">Back to Profile</span>
        </a>
        {% endif %}
</div>
<div class="row mt-4">
    <div class="col">
        &nbsp; 
    </div>
</div>
</div>
{% endblock %}