.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #9f38f1;
}

#profile-update-form input::placeholder {
    color: #c67cf7;
}