@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Hind+Madurai&family=Montserrat:wght@800&display=swap');
html{
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 253px);
    color: #9f38f1;
    font-family: 'Hind Madurai', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.welcome-text{
    color: #9f38f1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 34px; 
    line-height: 1.4; 
}


.welcome-page-button{
    font-size: 17px;
}

.jumbotron {
    padding: 19px 16px;
background-color: #f8edff;
border-radius: 15px;
color: #9f38f1;
font-size: 18px;  
text-align: center; 
margin: 9px;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    color: #c394e1;
}


.logo-font {
    text-transform: uppercase;
    color: #c394e1;
}
    

.header-container{
    margin-top: 40px;
}
.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #bb78e8;
    color: white;
    min-width: 260px;
}
.navbar {
    background-color: #fff; 
    padding: 10px;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    
}

.nav-item {
    margin-right: 62px; /* Adjust the spacing between categories */
}

.nav-link {
    text-decoration: none;
    color: #7516c2; 
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
}

.nav-link:hover {
    color: #bb78e8 !important; /* Change color on hover */
}
.btn-black {
    background: #bb78e8;
    color: white;
}


.navbar-light .navbar-toggler {
    color: #7516c2 !important;
    border-color: #7516c2 !important;
}
.btn-outline-black {
    background: #bb78e8;
    color: #f8edff !important;
    font-weight: 100;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #bb78e8;
    color: gray !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #b05ae9;
    color: #f3e6fc;
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f7f4fa;
    z-index: -1;
}

.product-container {
    padding: 15px;
    text-align: center;
}

.product-container h6 {
    margin-top: 10px;
}

.price-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 6px -7px 11px 0px rgb(188 155 209);
}

.thumbnail a {
    display: block;
}

.thumbnail a::before {
    content: "";
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(131, 90, 129, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.thumbnail:hover a::before {
    opacity: 1;
}

input[name='q']::placeholder {
    color: #b05ae9;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #b05ae9;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    
}


/* Adjust button margins to align them vertically */
.btn, .price{
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-details-container{
    color: #b05ae9;
    padding-top: 150px;
}
.product-name{
    font-family: 'Montserrat', sans-serif;
}

.product-description{
    font-family: 'Average Sans', sans-serif;
    line-height: 30px;
    font-size: 18px;
}

.image-container-product-details {
    padding-top:150px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}
/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}