.order-confirmation-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(242, 113, 247, 0.425);
}
.order-confirmation-wrapper img {
  max-width: 100px;
  height: auto;
}
.welcome-page-button {
  background-color: #ff5733;
  color: #fff;
  font-size: 18px;
  border: none;
}

.custom-font {
  font-family: 'Montserrat', sans-serif;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active{
  box-shadow: 0 1px 3px 0 #b05ae9;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #b05ae9;
}


.fieldset-label {
    position: relative;
    right: .5rem; 
    color: #b05ae9;
    font-family: 'Montserrat', sans-serif;
}

#payment-form .form-control,
#card-element{
    color: #9f38f1;
    font-family: 'Hind Madurai', sans-serif;
}


#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(243, 230, 252, 0.562);
  z-index: 9999;
  transition: background-color 0.3s ease;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.loading-spinner::before {
  content: '';
  border: 4px solid rgba(255, 102, 204, 0.7);
  border-top: 4px solid rgba(255, 204, 255, 0.7);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

